<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Gestion_stock</display-name>
 <servlet>
    <servlet-name>CategorieServlet</servlet-name>
    <servlet-class>servlet.CategorieServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CategorieServlet</servlet-name>
    <url-pattern>/CategorieServlet</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>FournisseurServlet</servlet-name>
    <servlet-class>servlet.FournisseurServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>FournisseurServlet</servlet-name>
    <url-pattern>/FournisseurServlet</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>ProduitServlet</servlet-name>
    <servlet-class>servlet.ProduitServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ProduitServlet</servlet-name>
    <url-pattern>/ProduitServlet</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>servlet.TransactionServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/TransactionServlet</url-pattern>
</servlet-mapping>

</web-app>